
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Sigmar&display=swap');
/* Open Sans */

:root{
    --color-primary: #171219;
    --color-2nd: #EDF060;
    --color-3rd:#310D20;


}

.info{
    font-weight: bold;
    font-family: Open-Sans, Ariel, sans-serif;
}

header, div{
    display: block;
    background: var(--color-2nd);
    unicode-bidi: isolate;
}

#navbar{
    text-align: center;
    color: var(--color-primary);
    display: grid;
    grid-template-columns: repeat(3,100px);
    border-top: solid 1px var(--color-primary);
    border-bottom: solid 1px var(--color-primary);
    justify-content: end;
    justify-items: end;
    margin: 0 auto;
    list-style: none;
    padding: 10px;
}

section{
    unicode-bidi: isolate;
}

.book{
    margin: 10px;
    color: var(--color-3rd);
    font-family: Open-Sans, Ariel, sans-serif;
}

.book, p{
    color:#171219;
}

filter{
    border: solid 0 var(--color-primary);
}

footer{
    background: var(--color-2nd);
    margin: 0 auto;
    padding: 25px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* what this do? */
    unicode-bidi: isolate;
}

.grid {
    margin: 30px;
}

@media screen and (min-width: 700px){

    h1{
        text-align: center;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

}

